.next,
.previous{
  top:470px;
  width:10px;
  height:10px;
  margin:auto;
}
.next{
  right:40rem
}
.previous{
  left: 13rem;
}
.lucide-arrow-right{
  width: 0;
  height: 0;
  right:0
}
.lucide-arrow-left{
  width: 0px;
  height: 0px;
}
#radix-_R_1q9lb_,
#radix-_R_e9lb_{
  border:none;
  outline-color:transparent
}
